body {
  margin: 0;
}

header {
  padding: 2em 0;
  background: #f8f8f8;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 2rem;
}

nav a {
  padding: .25rem 0;
}

h1 {
  margin: 0;
}

/* ==============
Typograhy
============== */

body {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #707070;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: #707070;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  color: #143774;
}

h1 {
  font-size: 2rem;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: .75rem;
}

.article-title {
  font-size: 1.5rem;
}

.article-info,
.article-read-more {
  font-size: .875rem;
}

.article-read-more {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.article-read-more:hover,
.article-read-more:focus {
  text-decoration: underline;
}

.current-page:hover {
  color: #707070;
}

/* ==============
Layout
============== */
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  margin: 0;
}

.current-page {
  border-bottom: 1px solid #707070;
}

@media (max-width: 700px) {
  header {
    text-align: center;
  }

  nav ul {
    margin-bottom: 0;
    justify-content: center;
  }

  nav li {
    margin: .5em 1em;
  }

  .container {
    display: block;
  }
}

@media (max-width: 460px) {
  nav ul {
    flex-direction: column;
  }
}
