body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

header {
  padding: 2em 0;
  background: #f8f8f8;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #143774;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: #707070;
  padding: .25rem 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: .75rem;
  margin: 0;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 700px) {
  header {
    text-align: center;
  }

  nav ul {
    margin-bottom: 0;
    justify-content: center;
  }

  nav li {
    margin: .5em 1em;
  }

  .container {
    display: block;
  }
}

@media (max-width: 460px) {
  nav ul {
    flex-direction: column;
  }
}
