body {
  margin: 0;
}

img {
  max-width: 100%;
}


/* Layout */

header {
  background: #F8F8F8;
  padding: 4em 0;
  margin-bottom: 3em;
}

nav {
  margin-top: 1em;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

nav ul li {
  list-style: none;
  padding-bottom: 2em;
}

nav ul li:last-child {
  padding-bottom: 0;
}

nav ul li.active a {
  border-bottom: 2px #717171 solid;
  padding-bottom: .1em;
}

.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
}

.logo .title,
.logo .subtitle {
  margin: 0;
}

.article-featured {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
}

.article-recent {
  display: flex;
  flex-direction: column;
}

.article-info {
  margin: 2rem 0;
}

.article-title {
  margin: 0;
}

.article-image {
  order: -1
}

.article-info {
  order: -1
}

.article-body {
  margin: 1.5em 0;
}

@media (min-width: 700px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li {
    margin-left: 1.5em;
    padding: 0;
  }
}


/* Typography */

body {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
}

h1,
h2 {
  font-family: Lora, serif;
  font-weight: 100;
  color: #143774;
}

p {
  color: #707070;
  font-size: 1.125rem;
  font-weight: 300;
}

nav ul {
  font-weight: 600;
  color: #717171;
  text-transform: uppercase;
}

nav ul li a {
  color: #717171;
  text-decoration: none;
}

.logo .title {
  font-size: 2rem;
}

.logo .subtitle {
  color: #1792D2;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.article-info {
  font-size: 0.875rem;
  color: #707070;
}

.article-body a {
  color: #1792D2;
}

.article-read-more {
  font-size: 0.875rem;
  color: #1792D2;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
